@import "tailwindcss";

:root {
  --primary: #1a1a1a;
  --secondary: #111827;
  --accent: #2563eb;
  --accent-light: #3b82f6;
  --text-primary: #111827;
  --text-secondary: #4b5563;
}

body {
  @apply bg-gray-50 text-gray-900;
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}

.debug * { border: 1px solid red !important; }


/* Navbar link animation
.nav-link {
   relative px-4 py-2 font-medium transition-all duration-300;
}

.nav-link::after {
  @apply content-[''] absolute bottom-0 left-1/2 w-0 h-0.5 bg-blue-500 transition-all duration-300;
  transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after {
  @apply w-3/4;
} */